@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
*{box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}  
body, html{height: 100%;
    margin:0;
    background-color: firebrick;

}  


h1{text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 60px;
    color: goldenrod;
    }
    

li, a, button{font-family:'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: snow;
    cursor: pointer;
}
header{display: flex;
    justify-content: flex-end;
    align-items: center;
padding: 30px 10%;}
.navlinks{list-style: none;

}
.navlinks li{display:inline-block;
    padding:0px 20px;

}
.navlinks li a{transition: all 0.3s ease 0s;

}
.navlinks li a:hover{color:goldenrod ;

}
button{padding: 9px 25px;
    border-radius: 50px;
    border: none;
    background-color:rgba(0, 136, 169, 1);
    transition: all 0.3s ease 0s;

}
 button:hover{background-color:rgba(0, 136, 169, 0.5)

 }
 h2 {font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 32px;
    color: goldenrod;
}
h3{
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 32px;
    color: white;
}
.bgimg{
    background-image: url(https://tinyurl.com/yy7rjlk9
    );min-height: 520px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.container{
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    color: black;
} 
input[type=text],input[type=type]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 3px;
    border:none ;
    background:#f1f1f1;
}
input[type="text"]:focus, input[type="type"]:focus{
    background-color: #ddd;
    outline: none;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: firebrick;
    color:firebrick;
    text-align: center;
  }
  .textclass{
      float: right;
  }
  section{
      padding-bottom:25px ;
  }
  .verify{
      float: right;
  }
  .socials{
    padding-right: 5px;
}



